@font-face {
    font-family: PTSansBold;
    src: url('assets/fonts/ptsansbold.woff2') format('woff2'), url('assets/fonts/ptsansbold.woff') format('woff');
}

@font-face {
    font-family: PTSans;
    src: url('assets/fonts/ptsans.woff2') format('woff2'), url('assets/fonts/ptsans.woff') format('woff');
}

h2 {
    font-family: PTSansBold;
    font-size: 21px;
    line-height: 25px;
}

p {
    font-size: 14px;
    font-family: PTSans;
    line-height: 20px;
}

body {
    margin: 0;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.page-header {
    position: relative;
    margin: 0 auto;
    width: 768px;
    background: white;
    font-family: PTSansBold;
    box-shadow: 0 0 5px 0 grey;
}

.page-header .sedona-link {
    position: absolute;
    left: 50%;
    margin-left: -69px;
    z-index: 10000;
}

.page-header .main-nav {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    margin-left: 6%;
    margin-right: 6%;
    list-style: none;
}

.page-header li {
    display: flex;
    flex-basis: calc(250%/11);
    height: 60px;
}

.page-header li:nth-child(4n+2) {
    margin-right: calc(100%/11);
}

.page-header li:nth-child(4n-1),
.page-header li:nth-child(4n) {
    justify-content: flex-end;
}

.page-header a {
    align-self: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.page-container {
    max-width: 768px;
    margin: 0 auto;
    box-shadow: 0 0 5px 0 grey;
    background-color: white;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}

.advantages {
    position: relative;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    padding-top: 515px;
    background-image:
        url(assets/images/promo-bottom-mask.png), url(assets/images/promo-image.png);
    background-repeat: no-repeat;
    background-position:
        top center;
    background-origin: border-box;
    background-size:
        100% 516px,
        auto;
}

.advantages-intro {
    flex-basis: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background: white;
    z-index: 100;
}

.advantages-intro h2 {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.advantages-intro p {
    width: 500px;
    margin: 0 auto;
    margin-top: 35px;
    text-align: center;
}

.advantage {
    flex-basis: calc(100%/3);
    flex-grow: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.advantage-image {
    background-repeat: no-repeat;
    background-size: 67%;
}

.advantage-real-city-image {
    padding-right: 67%;
    background-position: 100% center;
    background-image: url(assets/images/real-city.png);
}

.advantage-devils-bridge-image {
    padding-left: 67%;
    background-position: 0% center;
    background-image: url(assets/images/devil-bridge.png);
}

.advantage-title {
    width: 151px;
    margin-left: auto;
    margin-right: auto;
}

.advantage-number {
    margin-left: auto;
    margin-right: auto;
}

.advantage-description {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.advantage-blue-background {
    background-color: #81b3d2;
    color: white;
}

.advantage-grey-background {
    background-color: #eeeeee;
}

.features {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    list-style: none;
    text-align: center;
}

.features li {
    flex-basis: calc(100%/3);
    flex-grow: 0;
    background-repeat: no-repeat;
    background-position: center 60px;
}

.features .icon-house {
    background-image: url(assets/images/icon-house.png);
}

.features .icon-gift {
    background-image: url(assets/images/icon-gift.png);
}

.features .icon-burger {
    background-image: url(assets/images/icon-burger.png);
}

.features .feature-name {
    margin-top: 160px;
}

.features .feature-description {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}

.search-hotel {
    text-align: center;
    padding-bottom: 592px;
    background-image: url(assets/images/search-map.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.search-hotel > h2 {
    margin-top: 60px;
    font-family: PTSansBold;
    font-size: 28px;
    line-height: 25px;
}

.search-hotel > p {
    width: 450px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.search-hotel .search-hotel-opener {
    display: block;
    width: 570px;
    height: 85px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #766357;
    text-decoration: none;
    font-size: 20px;
    font-family: PTSansBold;
    line-height: 87px;
    color: white;
    cursor: pointer;
}

.search-hotel-form {
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    flex-flow: row wrap;
    width: 570px;
    height: 400px;
    margin: 0 auto;
    padding: 55px;
    box-sizing: border-box;
    background-color: white;
    font-family: PTSansBold;
    font-size: 16px;
    box-shadow: 0 0 15px 0 grey;
}

.search-hotel-form-field-date {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 38px;
}

.search-hotel-form-field-date label {
    width: 26%;
    line-height: 38px;
    text-align: left;
    color: black;
}

.search-hotel-form-field-date input {
    width: 75%;
    margin: 0;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: PTSansBold;
    text-transform: uppercase;
    line-height: 38px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
}

.search-hotel-form-field-date input:hover {
    background-color: #ebebeb;
}

.search-hotel-form-field-date input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.search-hotel-form .icon-calendar::before {
    position: absolute;
    top: 12px;
    right: 8px;
}

.search-hotel-form .icon-calendar:hover {
    color: #000000;
}

.search-hotel-form .icon-calendar:active {
    color: #81b3d2;
}

.search-hotel-form-field-quantity {
    display: flex;
    flex-direction: row;
    height: 38px;
    width: 50%;
}

.search-hotel-form-field-quantity label {
    width: 55%;
    padding: 0;
    line-height: 38px;
    text-align: left;
    color: #000000;
}

.search-hotel-form-field-quantity:nth-child(2n) label {
    padding-left: 45px;
    box-sizing: border-box;
}

.search-hotel-minus-button,
.search-hotel-plus-button {
    width: 38px;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #f2f2f2;
    color: #a9a9a9;
}

.search-hotel-minus-button:hover,
.search-hotel-plus-button:hover {
    color: #000000;
}

.search-hotel-minus-button:active,
.search-hotel-plus-button:active {
    color: #81b3d2;
}

.search-hotel-form-field-quantity input {
    width: 38px;
    font-size: 16px;
    font-family: PTSansBold;
    text-align: center;
    line-height: 38px;
    border: none;
    background-color: #f2f2f2;
    outline: none;
    color: black;
}

.search-hotel-form .submit {
    position: relative;
    bottom: -30px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background-color: #81b3d2;
    border: none;
    font-family: PTSansBold;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.search-hotel-form .submit:hover {
    background-color: #669ec0;
}

.search-hotel-form .submit:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.page-footer {
    position: relative;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    margin-top: -120px;
    width: 768px;
    background: white;
    z-index: 100;
    font-family: PTSansBold;
}

.page-footer > ul {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-footer > ul > li {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex-basis: calc(100%/3);
    height: 120px;
}

.page-footer .hashtag-visitsedona {
    display: flex;
    margin: auto;
    font-size: 23px;
    color: black;
    text-decoration: none;
}

.page-footer .social-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-footer .social-links li {
    flex-basis: 48px;
    height: 48px;
    margin: 3px;
    background-color: #81b3d2;
    line-height: 48px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.page-footer .social-links i {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 25px;
    color: white;
}

.page-footer .social-links i:hover {
    background-color: #669ec0;
}

.page-footer .social-links i:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.page-footer .link-htmlacademy {
    width: 113px;
    height: 39px;
    margin-left: 6px;
    margin-top: 5px;
    background-image: url(assets/images/by-htmlacademy.png);
}

.page-footer .link-htmlacademy:hover {
    background-position: -113px 0;
}

.page-footer .link-htmlacademy:active {
    background-position: 0;
    opacity: 0.5;
}
