@font-face {
    font-family: "PTSansBold";
    src: url('../fonts/ptsansbold.woff2') format('woff2'), url('../fonts/ptsansbold.woff') format('woff');
}

@font-face {
    font-family: "PTSans";
    src: url('../fonts/ptsans.woff2') format('woff2'), url('../fonts/ptsans.woff') format('woff');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "symbols-sedona";
    src: url("../fonts/symbols-sedona.woff") format("woff"), url("../fonts/symbols-sedona.woff2") format("woff2");
}

.hidden {
    display: none;
}

html {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: "PTSansBold", sans-serif;
}

.page-header {
    position: relative;
    width: 100%;
    height: 55px;
    padding-bottom: 160px;
    background-image: url(/assets/img/header-background-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.page-header__h1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 68px;
    z-index: 1000;
    width: 229px;
    height: 39px;
    margin: 0 auto;
    background-image: url(../img/sedona-name.png);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
}

.page-header__container {
    position: absolute;
    background-color: white;
    height: 55px;
    width: 100%;
}

.main-site-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 102px;
    height: 83px;
}

.main-nav {
    display: none;
}

.main-nav__list {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
}

.main-nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    color: white;
    background-color: #81b3d2;
    border-bottom: 2px solid #678fa8;
    border-top: 2px solid #9ac2db;
    cursor: pointer;
}

.main-nav__item:hover {
    background-color: #669ec0;
}

.main-nav__item:active {
    background-color: #5496bd;
}

.main-nav__item:active .main-nav__link {
    color: #88b6d1;
}

.main-nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    background-color: #81b3d2;
    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db;
}

.main-nav__link {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.main-nav__item:first-child {
    border-top: none;
}

.main-nav__item:last-child {
    border-bottom: none;
}

.main-nav-opener {
    position: absolute;
    top: 50%;
    right: 15px;
    display: block;
    width: 23px;
    height: 21px;
    margin-top: -11px;
    background-image: url(/assets/img/icon-menu.png);
}

.main-nav-checkbox:checked ~ .main-nav {
    display: block;
}

.main-nav-checkbox {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.introduction {
    padding-top: 45px;
    padding-bottom: 35px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #e5e5e5;
}

.introduction h2 {
    margin-top: 0;
    margin-bottom: 40px;
}

.introduction p {
    min-width: 280px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
    font-family: "PTSans", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.photo-post {
    position: relative;
    padding: 23px 0;
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 20px;
}

.photo-post__img {
    width: 100%;
}

.photo-post__title {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 14px;
}

.photo-post__author {
    margin-top: 0;
    margin-bottom: 12px;
    font-family: "PTSans", sans-serif;
    font-size: 14px;
    text-transform: none;
}

.photo-post__likes {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 21px;
    padding-left: 35px;
    background-image: url(../img/icon-like.png);
    background-repeat: no-repeat;
    line-height: 25px;
}

.video-section {
    padding: 40px 0;
    text-align: center;
}

.video-section > h2 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 35px;
}

.video-section > p {
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 35px;
    font-size: 14px;
    font-family: "PTSans", sans-serif;
    line-height: 24px;
}

.video-panel {
    position: relative;
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
}

.video-panel__video {
    width: 100%;
    height: 100%;
}

.video-panel__scroller {
    position: absolute;
    left: 20px;
    right: 20px;
    display: flex;
    bottom: 66px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.5);
}

.video-panel__scroller input {
    margin: 0 20px;
    flex-grow: 1;
}

.video-panel__controller {
    position: static;
    bottom: -66px;
    display: flex;
    height: 66px;
    margin: 0 20px;
    background-color: #f2f2f2;
    flex-basis: 100%;
}

.video-panel__button {
    height: 100%;
    width: 70px;
    font-size: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.video-panel__replay {
    background-image: url(../img/replay.png);
}

.video-panel__subtitles {
    margin-left: auto;
    background-image: url(../img/subtitles.png);
}

.video-panel__fullscreen {
    background-image: url(../img/fullscreen.png);
}

.page-footer {
    margin: 0 auto;
    font-family: "PTSans", "Arial", sans-serif;
}

.page-footer__list {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-footer__item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    min-height: 90px;
}

.page-footer .hashtag-visitsedona {
    font-size: 23px;
    color: black;
    text-decoration: none;
    font-family: "PTSansBold", "Arial", sans-serif;
}

.social-links__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-links__item {
    flex-basis: 48px;
    height: 48px;
    margin: 3px;
    background-color: #81b3d2;
    line-height: 48px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.social-links__link {
    text-decoration: none;
}

.social-links i {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 25px;
    color: white;
}

.social-links i:hover {
    background-color: #669ec0;
}

.social-links i:active {
    background-color: #5496bd;
    color: #88b6d1;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
    display: inline-block;
    width: 1em;
    margin-right: 0.2em;
    margin-left: 0.2em;
    font-weight: normal;
    line-height: 1em;
    font-family: "symbols-sedona";
    text-align: center;
    text-transform: none;
    text-decoration: inherit;
    font-style: normal;
    font-variant: normal;
    speak: none;
}

.icon-facebook::before {
    content: "\66";
}

.icon-twitter::before {
    content: "\74";
}

.icon-youtube::before {
    content: "\f39e";
}

.page-footer .link-htmlacademy {
    width: 27px;
    height: 34px;
    margin-left: 6px;
    margin-top: 5px;
    background-image: url(../img/htmlacademy-logo.png);
}

.page-footer .link-htmlacademy:hover {
    background-position: -27px 0;
}

.page-footer .link-htmlacademy:active {
    background-position: 0;
    opacity: 0.5;
}

@media(min-width: 768px) {
    .page-header {
        position: relative;
        width: 100%;
        height: 55px;
        padding-bottom: 290px;
        background-image: url(/assets/img/header-background-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
    }
    .page-header__h1 {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 120px;
        z-index: 1000;
        width: 458px;
        height: 78px;
        margin: 0 auto;
        background-image: url(../img/sedona-name-tablet.png);
        background-repeat: no-repeat;
        background-position: center;
        font-size: 0;
    }
    .page-header__container {
        position: static;
        background-color: white;
        height: 55px;
        width: 100%;
    }
    .main-site-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 102px;
        height: 83px;
    }
    .main-nav {
        display: block;
    }
    .main-nav__list {
        display: flex;
        flex-flow: row wrap;
        margin: 0;
        padding: 0;
    }
    .main-nav__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 20%;
        height: 55px;
        background-color: white;
        border: none;
        cursor: pointer;
    }
    .main-nav__link {
        color: black;
        text-decoration: none;
        font-size: 14px;
    }
    .main-nav__item:hover {
        background-color: white;
    }
    .main-nav__item:hover .main-nav__link {
        background-color: white;
        color: #81b3d2;
    }
    .main-nav__item:active {
        background-color: white;
    }
    .main-nav__item:active .main-nav__link {
        background-color: white;
        color: #b2b2b2;
    }
    .main-nav__item:nth-child(4n-1) {
        margin-left: 20%;
    }
    .main-nav-opener {
        display: none;
    }
    .main-nav-checkbox {
        display: block;
    }
    .introduction {
        padding-top: 70px;
        padding-bottom: 70px;
        text-align: center;
        font-size: 18px;
        border-bottom: none;
    }
    .introduction h2 {
        width: 430px;
        margin: 0 auto 40px;
        margin-top: 0;
        font-size: 30px;
    }
    .introduction p {
        width: 430px;
        padding: 0 40px;
        margin: 0 auto;
        text-align: center;
        font-family: "PTSans", sans-serif;
        font-size: 14px;
        line-height: 24px;
    }
    .photographs-section {
        display: flex;
        flex-flow: row wrap;
        padding: 0 60px;
    }
    .photo-post {
        position: relative;
        flex-flow: row wrap;
        flex-basis: 50%;
        padding: 0;
        border-bottom: none;
        padding: 0;
        background-color: #f2f2f2;
    }
    .photo-post__info {
        width: 100%;
        display: flex;
    }
    .photo-post--big {
        flex-basis: 100%;
    }
    .photo-post__img {
        width: 100%;
        height: auto;
    }
    .photo-post__description {
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 1;
        padding-left: 20px;
    }
    .photo-post__title {
        margin: 0;
        margin-top: 24px;
        margin-bottom: 8px;
        font-size: 14px;
    }
    .photo-post__author {
        margin-top: 0;
        margin-bottom: 20px;
        font-family: "PTSans", sans-serif;
        font-size: 14px;
        text-transform: none;
    }
    .photo-post__likes {
        align-self: center;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 25px;
        margin-right: 25px;
        min-height: 21px;
        background-image: url(../img/icon-like.png);
        background-repeat: no-repeat;
        line-height: 25px;
    }
    .video-section {
        padding: 40px 60px;
        text-align: center;
    }
    .video-section > h2 {
        width: 420px;
        font-size: 30px;
        margin: 50px auto 35px;
    }
    .video-section > p {
        width: 420px;
        margin: 0;
        padding-left: 40px;
        padding-right: 40px;
        margin: 0 auto 80px;
        font-size: 14px;
        font-family: "PTSans", sans-serif;
        line-height: 24px;
    }
    .video-panel {
        position: relative;
        display: flex;
        width: 100%;
        flex-flow: column nowrap;
    }
    .video-panel__video {
        width: 100%;
        height: 100%;
    }
    .video-panel__scroller {
        position: static;
        left: 20px;
        right: 20px;
        display: flex;
        bottom: 66px;
        height: 100%;
        background-color: transparent;
        flex-grow: 1;
    }
    .video-panel__scroller input {
        margin: 0 20px;
        flex-grow: 1;
    }
    .video-panel__controller {
        position: absolute;
        bottom: 0;
        height: 94px;
        width: 100%;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.5);
        flex-grow: 1;
    }
    .video-panel__button {
        height: 100%;
        width: 80px;
        font-size: 0;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
    }
    .video-panel__replay {
        background-image: url(../img/replay-tablet.png);
    }
    .video-panel__subtitles {
        margin-left: 0;
        background-image: url(../img/subtitles-tablet.png);
    }
    .video-panel__fullscreen {
        background-image: url(../img/fullscreen-tablet.png);
    }
    .page-footer {
        margin: 0 auto;
        font-family: "PTSans", "Arial", sans-serif;
    }
    .page-footer__list {
        display: flex;
        flex-flow: row wrap;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .page-footer__item {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        flex-basis: 33%;
        flex-grow: 1;
        min-height: 120px;
    }
    .page-footer .hashtag-visitsedona {
        font-size: 23px;
        color: black;
        text-decoration: none;
        font-family: "PTSansBold", "Arial", sans-serif;
    }
    .social-links__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .social-links__item {
        flex-basis: 48px;
        height: 48px;
        margin: 3px;
        background-color: #81b3d2;
        line-height: 48px;
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
    }
    .social-links__link {
        text-decoration: none;
    }
    .social-links i {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 25px;
        color: white;
    }
    .social-links i:hover {
        background-color: #669ec0;
    }
    .social-links i:active {
        background-color: #5496bd;
        color: #88b6d1;
    }
    [class^="icon-"]::before,
    [class*=" icon-"]::before {
        display: inline-block;
        width: 1em;
        margin-right: 0.2em;
        margin-left: 0.2em;
        font-weight: normal;
        line-height: 1em;
        font-family: "symbols-sedona";
        text-align: center;
        text-transform: none;
        text-decoration: inherit;
        font-style: normal;
        font-variant: normal;
        speak: none;
    }
    .icon-facebook::before {
        content: "\66";
    }
    .icon-twitter::before {
        content: "\74";
    }
    .icon-youtube::before {
        content: "\f39e";
    }
    .page-footer .link-htmlacademy {
        width: 27px;
        height: 34px;
        margin-left: 6px;
        margin-top: 5px;
        background-image: url(../img/htmlacademy-logo.png);
    }
    .page-footer .link-htmlacademy:hover {
        background-position: -27px 0;
    }
    .page-footer .link-htmlacademy:active {
        background-position: 0;
        opacity: 0.5;
    }
}

@media(min-width: 1200px) {
    .page-header {
        position: relative;
        width: 1200px;
        height: auto;
        padding-bottom: 0;
        margin: 0 auto;
    }
    .page-header__h1 {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 120px;
        z-index: 1000;
        width: 458px;
        height: 78px;
        margin: 0 auto;
        background-image: url(../img/sedona-name-desktop.png);
        background-repeat: no-repeat;
        background-position: center;
        font-size: 0;
    }
    .page-header__container {
        position: static;
        background-color: white;
        height: auto;
        width: 100%;
    }
    .main-site-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 188px;
        height: 96px;
    }
    .main-nav {
        position: static;
        display: block;
        padding-bottom: 290px;
        background-image: url(/assets/img/header-background-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
    }
    .main-nav__list {
        display: flex;
        flex-flow: row wrap;
        margin: 0;
        padding: 0;
        background-color: white;
    }
    .main-nav__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 20%;
        height: 55px;
        background-color: white;
        border: none;
        cursor: pointer;
    }
    .main-nav__link {
        color: black;
        text-decoration: none;
        font-size: 14px;
    }
    .main-nav__item:hover {
        background-color: white;
    }
    .main-nav__item:hover .main-nav__link {
        background-color: white;
        color: #81b3d2;
    }
    .main-nav__item:active {
        background-color: white;
    }
    .main-nav__item:active .main-nav__link {
        background-color: white;
        color: #b2b2b2;
    }
    .main-nav__item:nth-child(4n-1) {
        margin-left: 20%;
    }
    .main-nav-opener {
        display: none;
    }
    .main-nav-checkbox {
        display: block;
    }
    .introduction {
        padding-top: 70px;
        padding-bottom: 70px;
        text-align: center;
        font-size: 18px;
        border-bottom: none;
    }
    .introduction h2 {
        width: 430px;
        margin: 0 auto 40px;
        margin-top: 0;
        font-size: 30px;
    }
    .introduction p {
        width: 430px;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        font-family: "PTSans", sans-serif;
        font-size: 14px;
        line-height: 24px;
    }
    .photographs-section {
        display: flex;
        flex-flow: row wrap;
        width: 1200px;
        padding: 0;
        margin: 0 auto;
    }
    .photo-post {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        flex-basis: 33%;
        padding: 0;
        border-bottom: none;
        padding: 0;
        background-color: #f2f2f2;
        flex-grow: 1;
    }
    .photo-post__info {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
    }
    .photo-post--big {
        flex-basis: 100%;
    }
    .photo-post__img {
        flex-basis: 100%;
    }
    .photo-post__description {
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 1;
        padding-left: 20px;
    }
    .photo-post__title {
        margin: 0;
        margin-top: 24px;
        margin-bottom: 8px;
        font-size: 14px;
    }
    .photo-post__author {
        margin-top: 0;
        margin-bottom: 20px;
        font-family: "PTSans", sans-serif;
        font-size: 14px;
        text-transform: none;
    }
    .photo-post__likes {
        align-self: center;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 25px;
        margin-right: 25px;
        min-height: 21px;
        background-image: url(../img/icon-like-white.png);
        background-repeat: no-repeat;
        line-height: 25px;
    }
    .video-section {
        width: 800px;
        margin: 0 auto;
        padding: 90px 200px 60px;
        text-align: center;
    }
    .video-section > h2 {
        width: 420px;
        font-size: 30px;
        margin: 0 auto 35px;
    }
    .video-section > p {
        width: 420px;
        margin: 0;
        padding-left: 40px;
        padding-right: 40px;
        margin: 0 auto 80px;
        font-size: 14px;
        font-family: "PTSans", sans-serif;
        line-height: 24px;
    }
    .video-panel {
        position: relative;
        display: flex;
        width: 800px;
        margin: 0 auto;
        flex-flow: column nowrap;
    }
    .video-panel__video {
        width: 100%;
        height: 100%;
    }
    .video-panel__scroller {
        position: static;
        left: 20px;
        right: 20px;
        display: flex;
        bottom: 66px;
        height: 100%;
        background-color: transparent;
        flex-grow: 1;
    }
    .video-panel__scroller input {
        margin: 0 20px;
        flex-grow: 1;
    }
    .video-panel__controller {
        position: absolute;
        bottom: 0;
        height: 94px;
        width: 100%;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.5);
        flex-grow: 1;
    }
    .video-panel__button {
        height: 100%;
        width: 80px;
        font-size: 0;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
    }
    .video-panel__replay {
        background-image: url(../img/replay-tablet.png);
    }
    .video-panel__subtitles {
        margin-left: 0;
        background-image: url(../img/subtitles-tablet.png);
    }
    .video-panel__fullscreen {
        background-image: url(../img/fullscreen-tablet.png);
    }
    .page-footer {
        width: 1200px;
        margin: 0 auto;
        font-family: "PTSans", "Arial", sans-serif;
    }
    .page-footer__list {
        display: flex;
        flex-flow: row wrap;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .page-footer__item {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        flex-basis: 33%;
        flex-grow: 1;
        min-height: 120px;
    }
    .page-footer .hashtag-visitsedona {
        font-size: 23px;
        color: black;
        text-decoration: none;
        font-family: "PTSansBold", "Arial", sans-serif;
    }
    .social-links__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .social-links__item {
        flex-basis: 48px;
        height: 48px;
        margin: 3px;
        background-color: #81b3d2;
        line-height: 48px;
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
    }
    .social-links__link {
        text-decoration: none;
    }
    .social-links i {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 25px;
        color: white;
    }
    .social-links i:hover {
        background-color: #669ec0;
    }
    .social-links i:active {
        background-color: #5496bd;
        color: #88b6d1;
    }
    [class^="icon-"]::before,
    [class*=" icon-"]::before {
        display: inline-block;
        width: 1em;
        margin-right: 0.2em;
        margin-left: 0.2em;
        font-weight: normal;
        line-height: 1em;
        font-family: "symbols-sedona";
        text-align: center;
        text-transform: none;
        text-decoration: inherit;
        font-style: normal;
        font-variant: normal;
        speak: none;
    }
    .icon-facebook::before {
        content: "\66";
    }
    .icon-twitter::before {
        content: "\74";
    }
    .icon-youtube::before {
        content: "\f39e";
    }
    .page-footer .link-htmlacademy {
        width: 27px;
        height: 34px;
        margin-left: 6px;
        margin-top: 5px;
        background-image: url(../img/htmlacademy-logo.png);
    }
    .page-footer .link-htmlacademy:hover {
        background-position: -27px 0;
    }
    .page-footer .link-htmlacademy:active {
        background-position: 0;
        opacity: 0.5;
    }
    .page-footer__htmlacademy-item {
        display: flex;
        justify-content: flex-end;
        box-sizing: border-box;
        padding-right: 40px;
    }
}