@font-face {
    font-family: "OpenSans";
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: bold;
}

body {
    position: relative;
    min-width: 320px;
    padding: 0;
    margin: 0;
    font-family: "OpenSans";
}

.main-header {
    position: relative;
    z-index: 100;
    display: flex;
    width: 320px;
    min-height: 65px;
    margin: 0 auto;
    background-image: url(../img/header-layer.png);
    background-size: auto 100%;
}

.main-header-site-link {
    position: absolute;
    top: 21px;
    left: 20px;
    width: 75px;
    height: 22px;
    font-size: 0;
}

.main-nav-list {
    display: none;
    flex-flow: column;
    width: 100%;
    margin-top: 65px;
    margin-bottom: 0;
    padding: 0;
}

.main-nav-item {
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 60px;
    width: 100%;
    border-top: 2px solid #485461;
    border-bottom: 2px solid #000000;
    background-color: #283645;
}

.main-nav-link {
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "OpenSans";
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.main-nav-opener {
    position: absolute;
    z-index: -1;
    height: 65px;
    width: 100%;
    font-size: 0;
    background-image: url(../img/menu-burger.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center right 20px;
    cursor: pointer;
}

.main-nav-opener:hover {
    background-image: url(../img/menu-burger-hover.png);
}

.main-nav-opener:active {
    background-image: url(../img/menu-burger-active.png);
}

.main-nav-opener-checkbox {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.main-nav-opener-checkbox:checked ~ .main-nav-list {
    display: block;
}

.main-nav-opener-checkbox:checked ~ .main-nav-opener {
    background-color: #283645;
    background-image: url(../img/menu-cross.png);
}

.main-nav-opener-checkbox:checked:hover ~ .main-nav-opener {
    background-color: #283645;
    background-image: url(../img/menu-cross-hover.png);
}

.main-nav-opener-checkbox:checked:active ~ .main-nav-opener {
    background-color: #283645;
    background-image: url(../img/menu-cross-active.png);
}

.main-nav-link:hover {
    color: #bb2a54;
}

.main-nav-link:active {
    color: #6a757f;
}

main {
    position: relative;
    width: 320px;
    margin: 0 auto;
    padding-top: 460px;
    background-repeat: no-repeat;
}

.application {
    position: absolute;
    top: -65px;
    padding-top: 500px;
    padding-left: 20px;
    padding-right: 20px;
    background: url(../img/bg-back-mobile@2x.jpg);
    background-color: #283645;
    background-repeat: no-repeat;
    background-size: auto 500px;
    background-position: center bottom 270px;
}

.application-download {
    padding: 12px 36px;
    color: white;
    text-decoration: none;
    font-family: "OpenSans";
    font-weight: bold;
    font-size: 18px;
    border: 3px solid white;
    border-radius: 100px;
    word-wrap: normal;
    white-space: nowrap;
}

.application-download:hover {
    color: #d22856;
    background-color: white;
}

.application-download:active {
    color: #f1becc;
    background-color: white;
}

.application-os {
    padding-top: 130px;
    padding-bottom: 35px;
    margin: 0;
    background-image: url(../img/os-logo.png);
    background-repeat: no-repeat;
    background-position: center 50px;
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
}

.possibilities {
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding-bottom: 350px;
    padding-top: 80px;
    background-image: url(../img/iphone-screen-mobile@2x.png);
    background-repeat: no-repeat;
    background-position: center bottom -100px;
    background-size: 66%;
    background-color: #f2f2f2;
}

.possibilities:before {
    content: '';
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: skewY(-4deg);
    transform-origin: 0;
    z-index: 1;
    background-color: white;
}

.introduction {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 234px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 210px 320px;
    background-position: bottom;
    background-size: 100%;
    background-color: white;
}

.introduction h2 {
    margin: 0 50px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: normal;
    color: #283645;
    text-align: center;
}

.review-go-left,
.review-go-right {
    display: none;
    font-size: 0;
}

.possibility {
    position: relative;
    padding: 0 20px;
    text-align: center;
}

.possibility h3 {
    margin-top: 10px;
    margin-bottom: -5px;
    font-size: 18px;
    font-family: "OpenSans";
    font-weight: bold;
    line-height: 24px;
}

.possibility p {
    font-size: 14px;
    line-height: 24px;
}

.effect-time {
    display: none;
}

.reviews {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.review {
    display: flex;
    flex-flow: column;
    text-align: center;
    font-size: 14px;
}

.review-text {
    order: 2;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 14px;
    line-height: 30px;
}

.review-author {
    order: 1;
    margin: 0;
    font-size: 24px;
    font-family: "OpenSans";
    font-weight: bold;
}

.review-bio {
    display: none;
    margin-top: 5px;
    margin-bottom: 0;
}

.review-selector {
    height: 6px;
    margin-top: 40px;
    background-image: url(../img/triple-selector.png);
    background-repeat: no-repeat;
    background-position: center;
}

.versions {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 90px;
    padding-bottom: 50px;
    background-color: #f2f2f2;
    overflow: hidden;
}

.versions:before {
    content: '';
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: skewY(-4deg);
    transform-origin: 0;
    z-index: 1;
    background-color: white;
}

.versions-table {
    width: 300%;
    overflow: hidden;
    border-collapse: collapse;
    table-layout: fixed;
    transform: translateX(-33.3%);
}

.hidden {
    display: none;
}

.versions-table tr {
    width: 100%;
}

.versions-table td,
.versions-table th {
    align-items: center;
    height: 45px;
    width: 25%;
    padding-left: 20px;
    box-sizing: border-box;
    border-collapse: collapse;
    border: 2px solid #e5e5e5;
    background-color: white;
    overflow: hidden;
}

.versions-table th {
    flex-flow: column wrap;
    justify-content: center;
    height: 100px;
    padding: 0;
    background-color: #283645;
    color: white;
    box-sizing: border-box;
}

.versions-table th:first-child {
    background-color: transparent;
    border: none;
}

.versions-table th:first-child,
.version-feature-row-name {
    display: none;
}

.version-name {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
}

.version-price {
    font-size: 24px;
    line-height: 30px;
    font-family: "OpenSans";
    font-weight: normal;
}

.version-popular {
    background-image: url(../img/popular-banner.png);
    background-repeat: no-repeat;
}

.version-yes-sign,
.version-no-sign {
    width: 100%;
    height: 100%;
    font-size: 14px;
    background-repeat: no-repeat;
    background-position: center right 10px;
}

.version-yes-sign {
    background-image: url(../img/yes-sign.png);
}

.version-no-sign {
    background-image: url(../img/no-sign.png);
}

.version-selector {
    height: 6px;
    margin-top: 40px;
    background-image: url(../img/triple-selector.png);
    background-repeat: no-repeat;
    background-position: center;
}

.contacts {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.location-map {
    margin-top: 20px;
    height: 160px;
    background-image: url(../img/map-marker.png), url(../img/triangle-white-footer.png), url(../img/bg-map-mobile@2x.jpg);
    background-position: center top 70px, top, center;
    background-size: auto, 100% 30px, cover;
    background-repeat: no-repeat;
}

.contacts h2 {
    flex-basis: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: normal;
    color: #283645;
    text-align: center;
    line-height: 30px;
}

.contact {
    flex-basis: 100%;
    flex-grow: 1;
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
}

.contacts .contact-type {
    font-family: "OpenSans";
    font-weight: bold;
    font-size: 18px;
}

.contacts .contact-text {
    color: #d22856;
    font-size: 24px;
    line-height: 30px;
}

.e-mail {
    cursor: pointer;
}

.e-mail:hover {
    color: #283645;
    text-decoration: underline;
}

.e-mail:active {
    color: #bec2c7;
}

.main-footer {
    display: none;
}

@media(min-width: 768px) {
    .main-header {
        width: 768px;
        min-height: 110px;
    }
    .site-logo {
        top: 27px;
        left: 40px;
        width: 147px;
        height: 56px;
    }
    .main-header-site-link {
        position: absolute;
        top: 27px;
        left: 40px;
        width: 147px;
        height: 56px;
        font-size: 0;
        background-repeat: no-repeat;
    }
    .main-header-site-link:active {
        background-image: none;
        opacity: 0.3;
    }
    .main-header-site-link:active .site-logo {
        opacity: 1;
    }
    .main-nav-opener {
        height: 110px;
        background-position: center right 50px;
        cursor: pointer;
    }
    .main-nav-list {
        margin-top: 110px;
    }
    main {
        width: 768px;
    }
    .application {
        top: -110px;
        width: 100%;
        height: 800px;
        padding-left: 40px;
        padding-right: 40px;
        box-sizing: border-box;
        background: url(../img/bg-back-tablet@1x.jpg);
        background-size: cover;
    }
    .application-download {
        position: absolute;
        left: 40px;
        top: 400px;
        padding: 16px 62px;
        border-radius: 100px;
    }
    .application-os {
        display: none;
    }
    .introduction {
        margin-top: 230px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .introduction h2 {
        margin: 0;
        font-size: 40px;
    }
    .possibilities {
        padding-bottom: 20px;
        padding-left: 50%;
        padding-right: 40px;
        background-image: none;
    }
    .possibilities:before {
        content: '';
        height: 55px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transform: skewY(-4deg);
        transform-origin: 0;
        z-index: 1;
        background-color: white;
    }
    .possibilities:after {
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url(../img/iphone-screen-3-tablet@1x.png);
        background-size: auto;
        background-position: 45px top;
        background-repeat: no-repeat;
        z-index: 2;
    }
    .possibility {
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        margin-left: 0;
        text-align: left;
    }
    .effect-time {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        padding-top: 110px;
        padding-left: 385px;
        padding-right: 40px;
        padding-bottom: 100px;
        background-image: url(../img/timer.png);
        background-repeat: no-repeat;
        background-position: 40px center;
        background-size: 238px 276px;
    }
    /*
    .effect-time:before {
        content: "24";
        position: absolute;
        left: 189px;
        top: 139px;
        text-align: center;
        width: 100px;
        height: 100px;
        padding: 40px;
        font-size: 100px;
        font-weight: bold;
        border: 20px solid pink;
        border-radius: 1000px;
        line-height: 90px;
    }
*/
    .effect-time h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 30px;
        font-family: "OpenSans";
        font-weight: bold;
    }
    .effect-time p {
        font-size: 14px;
        line-height: 24px;
    }
    .effect-time a {
        color: #d22856;
        font-size: 14px;
    }
    .versions-table {
        width: 100%;
        transform: none;
    }
    .versions-table th:first-child,
    .version-feature-row-name {
        display: table-cell;
    }
    .version-feature-name {
        display: none;
    }
    .versions-table td {
        background-position: center;
    }
    .versions-table td:not(:first-child) {
        font-size: 0;
    }
    .reviews {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .review {
        margin-top: 30px;
    }
    .review-text {
        margin: 0 auto;
        font-size: 18px;
    }
    .review-author {
        margin-top: 40px;
        font-size: 20px;
        order: 2;
    }
    .review-bio {
        display: inline;
        order: 3;
    }
    .versions {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 120px;
    }
    .versions:before {
        height: 60px;
    }
    .version-feature-row-name {
        font-size: 14px;
    }
    .contacts {
        flex-flow: row wrap;
        padding-top: 50px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 0;
        background-image: url(../img/bg-map-tablet@1x.jpg);
        background-position: center bottom;
        background-image: none;
    }
    .location-map {
        margin-top: 20px;
        height: 400px;
        width: 100%;
        background-image: url(../img/map-marker.png), url(../img/triangle-white-footer.png), url(../img/bg-map-tablet@1x.jpg);
        background-position: center top 180px, top, center bottom -100px;
        background-size: auto, 100% 75px, cover;
        background-repeat: no-repeat;
    }
    .contacts h2 {
        flex-basis: 100%;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 40px;
        font-weight: normal;
        color: #283645;
        text-align: center;
        line-height: normal;
    }
    .contact {
        flex-basis: 50%;
        flex-grow: 1;
        margin-top: 30px;
        text-align: center;
        line-height: 30px;
    }
    .main-footer {
        display: block;
        width: 768px;
        margin: 0 auto;
    }
    .main-footer-list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .main-footer-list li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 33%;
        flex-grow: 1;
        height: 128px;
    }
    .social-btn {
        position: relative;
        width: 45px;
        height: 45px;
        margin: 6px;
        font-size: 0;
        border-radius: 100px;
        border: 3px solid #e9ebec;
        background-repeat: no-repeat;
        background-position: center;
    }
    .social-btn:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .social-btn:hover {
        border-color: #283645;
    }
    .social-btn:active {
        border-color: #e9ebec;
    }
    .social-btn:active:after {
        opacity: 0.3;
    }
    .social-btn-twitter:after {
        background-image: url(../img/twitter-logo.png);
    }
    .social-btn-facebook:after {
        background-image: url(../img/facebook-logo.png);
    }
    .social-btn-youtube:after {
        background-image: url(../img/youtube-logo.png);
    }
    .main-footer-item-copyright a {
        width: 27px;
        height: 41px;
        margin-left: 10px;
        font-size: 0;
        background-image: url(../img/htmlacademy-logo.png);
    }
    .main-footer-item-copyright a:hover {
        background-position: 27px 0;
    }
    .main-footer-item-copyright a:active {
        background-image: url(../img/htmlacademy-logo.png);
        background-position: 27px 0;
        opacity: 0.3;
    }
    .main-footer-item-logo .footer-logo {
        width: 147px;
        height: 56px;
    }
    .main-footer-site-link {
        display: block;
        width: 147px;
        height: 56px;
    }
    .main-footer-site-link:hover {
        background-image: url(../img/footer-logo-tablet-all-pink.png);
        background-size: 145px 56px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
    .main-footer-site-link:hover .footer-logo {
        opacity: 0;
    }
    .main-footer-site-link:active {
        background-image: none;
        opacity: 0.3;
    }
    .main-footer-site-link:active .footer-logo {
        opacity: 1;
    }
}

@media (min-resolution: 2dppi) {
    .application {
        background: url(../img/bg-back-tablet@2x.jpg);
    }
    .location-map {
        background-image: url(../img/bg-map-tablet@2x.jpg);
    }
}

@media(min-width: 1200px) {
    .main-header {
        width: 1200px;
    }
    .site-logo {
        top: 27px;
        left: 130px;
        width: 147px;
        height: 40px;
    }
    .main-header-site-link {
        position: absolute;
        top: 27px;
        left: 130px;
        width: 147px;
        height: 40px;
        font-size: 0;
        background-repeat: no-repeat;
    }
    .main-header-site-link:hover {
        background-image: none;
    }
    .main-header-site-link:hover .site-logo {
        opacity: 1;
    }
    .main-header-site-link:active {
        opacity: 1;
    }
    .main-nav-opener {
        display: none;
    }
    .main-nav-list {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        height: 110px;
        margin-top: 0;
        margin-left: 367px;
        margin-right: 130px;
    }
    .main-nav-item {
        display: inline;
        width: auto;
        padding-left: 40px;
        padding-right: 40px;
        color: white;
        background: none;
        border: none;
    }
    .main-nav-list a {
        text-transform: none;
    }
    .main-nav-active-link {
        border-bottom: 2px solid white;
    }
    .main-nav-active-link:hover {
        border-color: #bb2a54;
    }
    .main-nav-active-link:active {
        border-color: #6a757f;
    }
    main {
        width: 1200px;
    }
    .application {
        height: 850px;
        background: url(../img/bg-back-desktop@1x.jpg);
    }
    .application-download {
        position: absolute;
        left: 130px;
        top: 430px;
        padding: 12px 45px;
    }
    .introduction {
        flex-flow: column;
        margin-top: 280px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .possibilities {
        justify-content: space-between;
        padding-left: 130px;
        padding-right: 130px;
        padding-top: 0;
        margin: 0;
    }
    .possibilities:after {
        content: none;
    }
    .possibilities:before {
        height: 85px;
    }
    .possibility {
        flex-basis: 273px;
        margin: 0;
        padding-top: 340px;
        text-align: center;
    }
    .possibility:first-of-type {
        margin: 0;
    }
    .possibility:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: top;
        z-index: 2;
    }
    .phone-screen-1:after {
        background-image: url(../img/iphone-screen-1-desktop@1x.png);
    }
    .phone-screen-2:after {
        background-image: url(../img/iphone-screen-2-desktop@1x.png);
    }
    .phone-screen-3:after {
        background-image: url(../img/iphone-screen-3-desktop@1x.png);
    }
    .possibility h3 {
        font-size: 30px;
        line-height: 30px;
    }
    .possibility p {
        margin-top: 30px;
        padding: 0 15px;
        font-size: 18px;
        line-height: 30px;
    }
    .effect-time {
        padding-left: 42%;
        padding-right: 130px;
        padding-bottom: 130px;
        background-position: 150px center;
        background-color: #f2f2f2;
        background-size: 298px 345px;
    }
    .effect-time p {
        font-size: 18px;
        line-height: 30px;
    }
    .reviews {
        padding-left: 130px;
        padding-right: 130px;
        padding-bottom: 80px;
        padding-top: 170px;
    }
    .reviews:before {
        content: "";
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 79px;
        height: 64px;
        background-image: url(../img/icon-quotes.svg);
        background-repeat: no-repeat;
        opacity: 0.1;
    }
    .review-go-left,
    .review-go-right {
        display: block;
        position: absolute;
        top: 220px;
        width: 22px;
        height: 41px;
        font-size: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
        opacity: 0.4;
    }
    .review-go-left {
        left: 130px;
        background-image: url(../img/icon-review-arrow-left.svg);
    }
    .review-go-right {
        right: 130px;
        background-image: url(../img/icon-review-arrow-right.svg);
    }
    .review-text {
        width: 80%;
    }
    .review-author {
        margin-top: 20px;
    }
    .review-bio {
        margin-top: 10px;
    }
    .review-selector {
        display: none;
    }
    .versions {
        padding-left: 130px;
        padding-right: 130px;
        padding-top: 140px;
        padding-bottom: 80px;
        overflow: hidden;
    }
    .versions:before {
        height: 85px;
    }
    .version-selector {
        display: none;
    }
    .contacts {
        padding-left: 130px;
        padding-right: 130px;
        background-size: contain;
        background-image: none;
    }
    .location-map {
        height: 500px;
        width: 100%;
        background-image: url(../img/map-marker.png), url(../img/triangle-white-footer.png), url(../img/bg-map-desktop@1x.jpg);
        background-position: center top 240px, top, center bottom -180px;
        background-size: auto, 100% 100px, cover;
        background-repeat: no-repeat;
    }
    .contact {
        flex-basis: 33%;
        flex-grow: 1;
    }
    .main-footer {
        width: 1200px;
    }
    .main-footer-site-link:hover {
        background-image: none;
    }
    .main-footer-site-link:hover .footer-logo {
        opacity: 1;
    }
    .main-footer-site-link:active {
        opacity: 1;
    }
}

@media (min-resolution: 2dppi) {
    .application {
        background: url(../img/bg-back-desktop@2x.jpg);
    }
    .location-map {
        background-image: url(../img/bg-map-desktop@2x.jpg);
    }
    .phone-screen-1:after {
        background-image: url(../img/iphone-screen-1-desktop@2x.png);
    }
    .phone-screen-2:after {
        background-image: url(../img/iphone-screen-2-desktop@2x.png);
    }
    .phone-screen-3:after {
        background-image: url(../img/iphone-screen-3-desktop@2x.png);
    }
}