@font-face {
    font-family: "PTSansBold";
    src: url('../fonts/ptsansbold.woff2') format('woff2'), url('../fonts/ptsansbold.woff') format('woff');
}

@font-face {
    font-family: "PTSans";
    src: url('../fonts/ptsans.woff2') format('woff2'), url('../fonts/ptsans.woff') format('woff');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "symbols-sedona";
    src: url("../fonts/symbols-sedona.woff") format("woff"), url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
    display: inline-block;
    width: 1em;
    margin-right: 0.2em;
    margin-left: 0.2em;
    font-weight: normal;
    line-height: 1em;
    font-family: "symbols-sedona";
    text-align: center;
    text-transform: none;
    text-decoration: inherit;
    font-style: normal;
    font-variant: normal;
    speak: none;
}

.icon-facebook::before {
    content: "\66";
}


/* "f" */

.icon-twitter::before {
    content: "\74";
}


/* "t" */

.icon-up-dir::before {
    content: "\25b2";
}


/* "▲" */

.icon-down-dir::before {
    content: "\25bc";
}


/* "▼" */

.icon-star::before {
    content: "\2605";
}


/* "★" */

.icon-check-off::before {
    content: "\2610";
}


/* "☐" */

.icon-check-on::before {
    content: "\2611";
}


/* "☑" */

.icon-calendar::before {
    content: "\e800";
}


/* "" */

.icon-plus::before {
    content: "\e801";
}


/* "" */

.icon-minus::before {
    content: "\e802";
}


/* "" */

.icon-youtube::before {
    content: "\f39e";
}


/* "" */

body {
    margin: 0;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.page-header {
    margin: 0 auto;
    width: 768px;
    background: white;
    font-family: "PTSansBold", "Arial", sans-serif;
    box-shadow: 0 0 5px 0 grey;
}

.page-header .sedona-link {
    position: absolute;
    left: 50%;
    margin-left: -69px;
    z-index: 10000;
}

.page-header .main-nav {
    position: relative;
    z-index: 1;
    background: white;
}

.page-header .main-nav ul {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.page-header li {
    display: flex;
    flex-basis: 20%;
    height: 60px;
}

.page-header li:nth-child(4n-3) {
    margin-left: 6%;
}

.page-header li:nth-child(4n) {
    margin-right: 6%;
}

.page-header li:nth-child(4n+2) {
    margin-right: 8%;
}

.page-header li:nth-child(4n-1),
.page-header li:nth-child(4n) {
    justify-content: flex-end;
}

.page-header a {
    align-self: center;
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.page-header a:hover {
    color: #81b3d2;
}

.page-header a:active {
    color: #b2b2b2;
}

.page-container {
    max-width: 768px;
    padding-top: 515px;
    margin: 0 auto;
    box-shadow: 0 0 5px 0 grey;
    background-color: white;
    background-image: url(../img/promo-image.jpg);
    background-repeat: no-repeat;
}

.page-container h2 {
    font-family: "PTSansBold", "Arial", sans-serif;
    font-size: 21px;
    line-height: 25px;
}

.page-container p {
    font-family: "PTSans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}

.advantages {
    display: flex;
    flex-flow: row wrap;
}

.advantages-intro {
    flex-basis: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background: white;
}

.advantages-intro h2 {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.advantages-intro p {
    width: 500px;
    margin: 0 auto;
    margin-top: 35px;
    text-align: center;
}

.advantage {
    flex-basis: 33%;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 30px 40px;
    text-align: center;
}

.advantage-with-background-container {
    display: flex;
    flex-basis: 67%;
    background-repeat: no-repeat;
    background-size: cover;
}

.advantage-real-city-container {
    flex-direction: row;
    background-image: url(../img/real-city.jpg);
    margin-left: 33.3333%;
}

.advantage-devils-bridge-container {
    flex-direction: row-reverse;
    background-image: url(../img/devil-bridge.jpg);
    margin-right: 33.3333%;
}

.advantage-with-background-container .advantage {
    flex-grow: 0;
    flex-basis: 50%;
}

.advantage-real-city-container .advantage {
    margin-left: -50%;
}

.advantage-devils-bridge-container .advantage {
    margin-right: -50%;
}

.advantage-title {
    width: 151px;
    margin-left: auto;
    margin-right: auto;
    line-height: 60px;
}

.advantage-number {
    margin-left: auto;
    margin-right: auto;
}

.advantage-description {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.advantage-blue-background {
    background-color: #81b3d2;
    color: white;
}

.advantage-grey-background {
    background-color: #eeeeee;
}

.features {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.feature {
    position: relative;
    flex-basis: 33%;
    flex-grow: 1;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center 60px;
    background-size: 76px 76px;
}

.feature-icon::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 76px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-image: url(../img/features-icons.png);
}

.feature-icon-house::before {
    background-position: 0 0;
}

.feature-icon-gift::before {
    background-position: -152px 0;
}

.feature-icon-burger::before {
    background-position: -76px 0;
}

.features .feature-name {
    margin-top: 150px;
}

.features .feature-description {
    margin-left: auto;
    margin-right: auto;
}

.search-hotel {
    text-align: center;
    padding-bottom: 593px;
    background-image: url(../img/search-map.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.search-hotel > h2 {
    margin-top: 60px;
    font-size: 28px;
    line-height: 25px;
}

.search-hotel > p {
    width: 450px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.search-hotel .search-hotel-link {
    display: block;
    width: 570px;
    height: 85px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #766357;
    text-decoration: none;
    font-size: 20px;
    font-family: "PTSansBold", "Arial", sans-serif;
    line-height: 87px;
    color: white;
    cursor: pointer;
}

.search-hotel .search-hotel-link:hover {
    background-color: #604e43;
}

.search-hotel .search-hotel-link:active {
    background-color: #503e33;
    color: #857871;
}

.search-hotel-form {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row wrap;
    width: 570px;
    height: 400px;
    margin: 0 auto;
    padding: 55px;
    box-sizing: border-box;
    background-color: white;
    font-family: "PTSansBold", "Arial", sans-serif;
    font-size: 16px;
    box-shadow: 0 0 15px 0 grey;
}

.search-hotel-form input {
    font-family: "PTSansBold", "Arial", sans-serif;
}

.search-hotel-date-field {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 38px;
}

.search-hotel-date-field label {
    width: 26%;
    line-height: 38px;
    text-align: left;
    color: black;
}

.search-hotel-date-field input {
    width: 75%;
    margin: 0;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 38px;
    border: none;
    background-color: #f2f2f2;
}

.search-hotel-date-field input:hover {
    background-color: #ebebeb;
}

.search-hotel-date-field input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.search-hotel-form .icon-calendar::before {
    position: absolute;
    top: 10px;
    right: 8px;
}

.search-hotel-form .icon-calendar:hover {
    color: #000000;
}

.search-hotel-form .icon-calendar:active {
    color: #81b3d2;
}

.search-hotel-quantity-field {
    display: flex;
    flex-direction: row;
    height: 38px;
    width: 50%;
}

.search-hotel-quantity-field label {
    width: 55%;
    padding: 0;
    line-height: 38px;
    text-align: left;
    color: #000000;
}

.search-hotel-quantity-field:nth-child(2n) label {
    padding-left: 45px;
    box-sizing: border-box;
}

.search-hotel-minus-button,
.search-hotel-plus-button {
    width: 38px;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #f2f2f2;
    color: #a9a9a9;
    border: none;
}

.search-hotel-minus-button:hover,
.search-hotel-plus-button:hover {
    color: #000000;
}

.search-hotel-minus-button:active,
.search-hotel-plus-button:active {
    color: #81b3d2;
}

.search-hotel-quantity-field input {
    width: 38px;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    border: none;
    background-color: #f2f2f2;
    color: black;
}

.search-hotel-submit {
    position: relative;
    top: 30px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background-color: #81b3d2;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.search-hotel-submit:hover {
    background-color: #669ec0;
}

.search-hotel-submit:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.page-footer {
    position: relative;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    margin-top: -120px;
    width: 768px;
    background: white;
    z-index: 100;
    font-family: "PTSans", "Arial", sans-serif;
}

.page-footer > ul {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-footer > ul > li {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 33%;
    flex-grow: 1;
    height: 120px;
}

.page-footer .hashtag-visitsedona {
    font-size: 23px;
    color: black;
    text-decoration: none;
    font-family: "PTSansBold", "Arial", sans-serif;
}

.social-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-links li {
    flex-basis: 48px;
    height: 48px;
    margin: 3px;
    background-color: #81b3d2;
    line-height: 48px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.social-links i {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 25px;
    color: white;
}

.social-links i:hover {
    background-color: #669ec0;
}

.social-links i:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.page-footer .link-htmlacademy {
    width: 113px;
    height: 39px;
    margin-left: 6px;
    margin-top: 5px;
    background-image: url(../img/by-htmlacademy.png);
}

.page-footer .link-htmlacademy:hover {
    background-position: -113px 0;
}

.page-footer .link-htmlacademy:active {
    background-position: 0;
    opacity: 0.5;
}